@use 'colors' as *;
@import 'normalize';
@import 'appointment-container';
@import 'service-list';

body,
html {
  justify-content: center;
  background: $grey-darker;
  display: flex;
  font-family: sans-serif;
  min-height: 100%;
  width: 100%;
}
