<section class="appointment-container">
  <header>
    <h1>Request an Appointment</h1>
  </header>
  <aside>
    <ol>
      <li class={{if this.isService "active"}}>Service</li>
      <li class={{if this.isLocation "active"}}>Select Location</li>
      <li>Select Date & Time</li>
      <li>Your Information</li>
    </ol>
  </aside>
  <main>
    {{yield}}
  </main>
</section>
