{{page-title "Services"}}

<AppointmentContainer @step="1">
  <ul>
    {{#each @model as |service|}}
      <li>
        <h4>{{service.description}}</h4>
        <small>{{duration service.duration}}</small>

        <LinkTo @route="location" @model={{service.id}}>
          Select
        </LinkTo>
      </li>
    {{/each}}
  </ul>
</AppointmentContainer>
